In [37]:
a='C,B,A'
a=a.split(',')
b=['F','G','H']
c=a+b
c[0]='K'
print(c.pop(2))
del c[1:4]
c.append('U')
print(c)

A
['K', 'H', 'U']

In [5]:
a=input('請輸入一八位數字')
print(a[4])

請輸入一八位數字12345678
5

In [22]:
a='My ID is B1202048'
b=a.split(' ')
print(len(b))
c='B1202048'
print(len(c))

4
8

In [30]:
a='I\'m a student'
b=a.split('\'')
c=b[1].split(' ')
print(c[0])

m